target/*-sources.jar
target/*.original
target/classes
target/test-classes
target/surefire-reports
target/selenium-screenshots
.git
.gitignore
.planning
docs
.idea
*.iml
*.log
Week7_Jenkins_CI_Report.pdf
