SERVER_PORT={{ app_port }}
SPRING_PROFILES_ACTIVE={{ spring_profiles_active }}
SPRING_DATASOURCE_URL=jdbc:mysql://lease-mysql:3306/{{ db_name }}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME={{ db_user }}
SPRING_DATASOURCE_PASSWORD={{ vault_db_password }}
